$dark = var(--color-dark)
$gray = var(--color-gray)
$shadow = var(--color-shadow)
$white = var(--color-white)
$border = var(--color-border)

:root
  --color-dark: #2c3e50
  --color-gray: #dae4f1
  --color-shadow: #2f4ca250
  --color-border: #eef0f2
  --color-white: #ffffff